$navbar-default-bg: #19abb5;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lobster');

#nav1 {
  color: #fff;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
}

.name {
  float: right;
}

.centering {
  float: none;
  margin: 0 auto;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #f2f2f2;
  padding-left: 10px;
  padding-right: 10px;
}

footer a {
  color: #f2f2f2;
}

footer a:hover {
  color: #222;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.spacing li {
  letter-spacing: 0.1em;
  margin-top: 2px;
}

.btn-large {
  margin-top: 5px
}

.table-striped th,td {
  text-align: center;
}
