<%= render "shared/page_title", title: "showing all products" %>

<div align="center">
  <%= will_paginate %>
</div>
<%= render 'products', obj: @products %>
<div align="center">
  <%= will_paginate %>
</div>
