<footer class="navbar-default navbar-fixed-bottom footer">
  <div class="container-fluid">
    <span><a href="https://www.linkedin.com/in/ssachid/">Linkedin</a><span>
    <span><a href="https://github.com/ssachid">Github</a></span>
    <span class="name">Shambhavi Sachid</span>
  </div>
</footer>
